.wrapper {
  width: 960px;
  margin: 0 auto;
  background-color:#F7F7F7;
  border:2px;
  border-style:solid;
  border-color:black;
}

body {
  background: #2980b9;
  color: #FFF;
  font-family: Arial;
  text-align: center;
  margin: 0;
}


.gumbi{
	background-color:#C1C1C1;
	color:#2980b9;
	border: 2px;
	text-align:center;
	font-family: Calibri;
	text-transform:uppercase;
	height:35px;
	font-weight:bold;
	font-size:medium;
		
}


#nav{
	float:center;
	background-color:#C1C1C1;
	border-style:solid;
	border-color:#F7F7F7;
	border-width:8px;
		
}

#noga{
	float:center;
	background-color:#C1C1C1;
	border-style:solid;
	border-color:#F7F7F7;
	border-width:8px;
	text-align:center;
	height:35px;
	color:#2980b9;
	font-weight:bold;
	margin-top:5px;
	

}

.gumbi:hover{
	background:#FFFFFF;
	transition-duration:1s;
		
}

h1{
	color:black;
	font-size:large;
	font-family:Calibri;
	float:left;
	margin-left:5%;
	text-transform:uppercase;
	
	}
	
h2{
	color:black;
	font-size:medium;
	font-family:Calibri;
	float:center;
	margin-left:1%;
	text-decoration:underline;
	}

	
.slika
{
	height: auto; 
    width: auto; 
    max-width: 400px; 
    max-height: 400px;
    float:right;
    margin-right:1%;
    position:relative;
	
}

p{
	color:black;
	font-family:Calibri;
	text-align:justify;
	margin-right:45%;
	font-size:medium;
	margin-left:5%;
}

#main {
	margin-top:30px;
	margin-bottom:30px;
}

a{
	text-decoration:none;
	color:#2980b9;
}

ul{
	list-style:square;
	color:black;
	text-align:center;
	margin-left:5%;
}

#tabela{
	color:#2980b9;
	border-collapse:collapse;
	font-family:calibri;
	text-transform:uppercase;
	font-weight:bold;
	margin-left:auto;
	margin-right:auto;
	
}

#tabela td, #customers th {
  border: 2px solid #000000;
  padding: 8px;
}


#tabela tr:nth-child(even){
	background-color:#C1C1C1;
}


#tabela tr:hover {
	background-color:#F7F7F7;
	transition-duration:1s;
}

.napis{
	position: absolute;
  	top: 8px;
  	right: 16px;
  	font-family:Calibri;
  	color:#F7F7F7;
}
